/*
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif; 
*/

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

textarea:focus,
input:focus,
button:focus {
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh;

    background-color: #1F1B24;
    color: white;

    transition: all .5s linear;
}

body>header {
    height: 5vh;
    padding: .5em;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #1F1F1F;
}

#wrapper {
    height: 95vh;
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
}


/*
    Theme Toggler
*/

#themeToggle {
    cursor: pointer;
}

#themeToggle>div {
    width: 60px;
    height: 20px;
    padding: 2px;
    display: flex;
    align-items: center;

    box-sizing: content-box;

    background-color: white;
    border-radius: 50px;
}

#themeToggle [data-theme] {
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

#themeToggle [data-theme="dark"] {
    transition: all .5s linear;
    background-color: #BB86FC;
    margin-left: 0px;
}