#messages {
    width: 100%;
    height: 85%;
    font-size: 1rem;

    overflow-y: scroll;
}

.message {
    margin-bottom: 0.5em;
    padding: 0.5em;

    background-color: #423d46;

    transition: background-color 0.5s linear;
}

.message:last-of-type {
    margin-bottom: 0;
}

.message cite {
    margin-right: 0.3em;
    font-style: normal;
    font-size: 1.2em;
}

.message time {
    font-size: 0.7em;
}

.message cite,
.message time {
    font-family: 'Roboto', sans-serif;
}

.message img {
    max-height: 400px;
    max-width: 100%;
    border-radius: 10px;
}

#inputarea {
    width: 100%;
    height: 10vh;

    font-size: 1rem;
    align-self: flex-end;

    /* display flex to match the height of the textarea with the height of #inputarea */
    display: flex;
    justify-content: stretch;
}

#inputarea #upload-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    border: none;
    cursor: pointer;
    background-color: #46404a;
}

#inputarea #upload-btn input {
    display: none;
}
#inputarea #upload-btn img {
    width: 50%;
}

#inputarea textarea {
    width: calc(100% - 200px);
    min-width: 70%;
    padding: 0.5em;
    font-size: 1em;
    color: white;

    background-color: #423d46;
    border: none;
    resize: none;
}

#inputarea button:last-of-type {
    width: 100px;

    background-color: #46404a;
    border: none;
    cursor: pointer;
}

#inputarea button p {
    font-size: 4em;
    color: white;
}

::placeholder {
    color: #e8e8e8;
}
